.header.header_service {
	height: 500px;
	position: relative;
}

.header_service .header_texture {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;left: 0;
	background: url(../images/community.jpg) center no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;
	opacity: 0,3;
}

.header_service .header_slogan-title {
	color: #fff;
	font-size: 70px;
	text-transform: uppercase;
	font-family: 'Rubik', sans-serif;
	word-spacing: 10px;
	background: black;
	opacity: 0.8;
	letter-spacing: 10px;
	box-shadow: 0px 10px 30px rgba(0,0,0,1.2);
	margin-bottom: 75px;
}

.service_filter-view {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0; left: 0;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1));
}

.service-view-container {
	width: 70%;
	margin: auto;
	padding-top: 30px;
	position: relative;
	margin-bottom: 60px;
}

.service-view-title {
	font-size: 45px;
	color: #142850;
	border-bottom: 4px solid #142850;
	font-family: 'Rubik', sans-serif;
	word-spacing: 6px;
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
}

.service-view-content {
	padding-top: 30px;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	line-height: 28px;

}

.service-view-image1 {
	height: 250px;
	width: auto;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.7);
}

@media only screen and (max-width: 1000px){

	.header_service .header_slogan-title {
    font-size: 50px;
    display: flex;
    }

    .service-view-image1 {
	height: 170px;
	width: auto;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.7);
}
}

@media only screen and (max-width: 600px){

	.service-view-image1 {
	height: 140px;
	width: auto;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.7);
}
    .header_service .header_slogan-title {
    	font-size: 30px;
    	display: flex;
    }

    .service-view-title {
    	font-size: 25px;
    }
    .service-view-content {
	padding-top: 30px;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 18px;
	}

}
















